<div class="fichePVDSimple">
  <div class="titreFiche"> Titre </div>
  <div class="sectionsFiche"> 
    <div class="imageFiche">Image<img src="../images/nissan-patrol.jpg"></div>
    <div class="modeFiche">Solo</div> 
    <div class="modeFiche">1VS1</div> 
    <div class="scoreFiche">Score</div> 
    <div class="scoreFiche">Score</div> 
    <div class="scoreFiche">Score</div> 
    <div class="scoreFiche">Score</div>  
    <div class="scoreFiche">Score</div> 
    <div class="scoreFiche">Score</div> 
    <div class="boutonFiche">Bouton</div> 
    <div class="boutonFiche">Bouton</div>    
  </div>
</div>