<div class="fichePVDSimple">
  <div class="titreFiche"> Titre </div>
  <div class="sectionsFiche"> 
    <div class="imageFiche"><img src="assets/images/nissan_patrol.jpg" height="185px" width="185px"></div>
    <div class="modeFiche">Solo</div> 
    <div class="modeFiche">1VS1</div> 
    <div class="scoreFiche">Score</div> 
    <div class="scoreFiche">Score</div> 
    <div class="scoreFiche">Score</div> 
    <div class="scoreFiche">Score</div>  
    <div class="scoreFiche">Score</div> 
    <div class="scoreFiche">Score</div> 
    <div class="boutonFiche">Bouton</div> 
    <div class="boutonFiche">Bouton</div>    
  </div>
</div>