.ficheSimple{
    height: 450px;
    width: 400px;
    margin-left: 33px;
    margin-top: 15px;
    -webkit-box-shadow: 1px 15px 13px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 15px 13px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 15px 13px -7px rgba(0,0,0,0.75);
    margin-bottom: 25px;
    border: 1px solid lightgray;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 5fr
}

.titreFiche{
    font-family:'Poppins';
    color: #13315C;
    font-size: 30px;
    margin-top: 20px
}

.sectionsFiche{
    font-family:'Poppins';
    color: #13315B;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "image image"
    "mode mode"
    "score score"
    "score score"
    "score score"
    "bouton bouton"
}

.imageFiche{
  grid-area:image;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.modeFiche{

}

.scoreFiche{
  font-size: 12px;
}

.divBouton{
  text-align: center;
}

.boutonFiche{
  /*display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 50%;
  background-color:lightgray;
  margin: 5px*/
  display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #13315C;
    font-size: 15px;
    padding-top: 9px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
    height: 30px;
    width: 50%;
    border: 1px solid #2d6898;
    background-image: linear-gradient(bottom, #13315C,rgb(97,155,203) 100%);
    background-image: -o-linear-gradient(bottom, #13315C, rgb(97,155,203) 100%);
    background-image: -moz-linear-gradient(bottom, #13315C, rgb(97,155,203) 100%);
    background-image: -webkit-linear-gradient(bottom,#13315C, rgb(97,155,203) 100%);
    background-image: -ms-linear-gradient(bottom, #13315C, rgb(97,155,203) 100%);
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #124f7e, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #124f7e, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #124f7e, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}


