.fichePVDSimple{
    height: 325px;
    width: 400px;
    margin-left: 33px;
    margin-top: 15px;
    -webkit-box-shadow: 1px 15px 13px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 15px 13px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 15px 13px -7px rgba(0,0,0,0.75);
    margin-bottom: 25px;
    border: 1px solid lightgray
}

.titreFiche{
    font-family:'Poppins';
    color: #13315C;
    font-size: 19px;
}