@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 360px;
    width: 100%;
    padding-top: 30px;
}

#title{
    text-align: left;
    width: 100%;
}

#format {
    text-align: left;
}

.contentLeft {
    text-align: left;
    width: 100%;
}

#pageMask{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
  }

#formWindow2D {
    margin-left: 25%;
    margin-top: 2%;
    display: grid;
    width: 500px;
    grid-gap: 10px;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    border: 2px solid #ddd;
    z-index:1;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: inline-block;
}
#header {
    border-bottom: 1px solid #ddd;
    height: 150px;
    width: 450px;
}


.formWindow{
    height: 100%;
    width: 100%;
    background-color: aqua;
    position: absolute;
    display: inline-block;
}

.contentRight {
    text-align: left;
    width: 100%;
}

.error{
    width: 181px;
    height: 28px;
    padding-top: 4px;
}

.invisible{
    visibility: hidden;
}

.alert{
    width: 181px; 
    font-size: 12px; 
    padding-top: 5px; 
    padding-bottom: 5px;
}
