<div id=formWindow2D>

  <div id="header">
    <h1 id="title">Créer un jeu point de vue simple</h1>
    <p id="format">Format d'image: bitmap 24-bit (640x480)</p>
  </div>

  <div id="content">
    <div class="contentLeft"> Nom du jeu </div>
    <form [formGroup]="form2DGroup" >
      <div class="contentRight"><input id="gameName" type="text" formControlName="title" [(ngModel)]="this.formInfo.gameName" required ></div>
      <div *ngIf="this.form2DGroup.get('title').invalid && (this.form2DGroup.get('title').dirty || this.form2DGroup.get('title').touched)" class="alert alert-danger" style="width: 180px; font-size: 12px; padding-top: 5px; padding-bottom: 5px;">
        <div *ngIf="this.form2DGroup.get('title').errors.required">
          Le nom du jeu est requis.
        </div>
        <div *ngIf="this.form2DGroup.get('title').errors.minlength">
          Le nom du jeu doit être d'au moins 3 caractères.
        </div>
        <div *ngIf="this.form2DGroup.get('title').errors.maxlength">
          Le nom du jeu doit être d'au plus 15 caractères.
        </div>
      </div>
    </form>

    <div class="contentLeft"> Image originale</div>
    <form [formGroup]="form2DGroup">
      <div class="contentRight"> <input type="file" accept=".bmp" id="originalBMPInput" formControlName="originalFileInput"
          (change)="readOriginalBitmap()">
      </div>
      <div *ngIf="(this.form2DGroup.get('originalFileInput').dirty) && (!validBMPExtension(this.formInfo.originalImage.fileName)
                                                || !validBitDepth(this.formInfo.originalImage.bitDepth)
                                                || !validImageDimensions(this.formInfo.originalImage.height,this.formInfo.originalImage.width))"
        class="alert alert-danger" style="width: 180px; font-size: 12px; padding-top: 5px; padding-bottom: 5px;">
        <div *ngIf="!validBMPExtension(this.formInfo.originalImage.fileName); else elseBlock1">
          Le fichier doit être un .bmp
        </div>
        <ng-template #elseBlock1>
          <div *ngIf="!validBitDepth(this.formInfo.originalImage.bitDepth); else elseBlock2">
            Le format du bmp doit être de 24-bit.
          </div>
          <ng-template #elseBlock2>
            <div *ngIf="!validImageDimensions(this.formInfo.originalImage.height,this.formInfo.originalImage.width)">
              Le dimensions de l'image doivent être de 640 x 480 pixels.
            </div>
          </ng-template>
        </ng-template>
      </div>
    </form>

    <div class="contentLeft"> Image modifiée</div>
    <form [formGroup]="form2DGroup" >
      <div class="contentRight"> <input type="file" accept=".bmp" id="modifiedBMPInput" formControlName="modifiedFileInput"
          (change)="readModifiedBitmap()">
      </div>
      <div *ngIf="(this.form2DGroup.get('modifiedFileInput').dirty) && (!validBMPExtension(this.formInfo.modifiedImage.fileName)
                                                || !validBitDepth(this.formInfo.modifiedImage.bitDepth)
                                                || !validImageDimensions(this.formInfo.modifiedImage.height,this.formInfo.modifiedImage.width))"
        class="alert alert-danger" style="width: 180px; font-size: 12px; padding-top: 5px; padding-bottom: 5px;">
        <div *ngIf="!validBMPExtension(this.formInfo.modifiedImage.fileName); else elseBlock3">
          Le fichier doit être un .bmp
        </div>
        <ng-template #elseBlock3>
          <div *ngIf="!validBitDepth(this.formInfo.modifiedImage.bitDepth); else elseBlock4">
            Le format du bmp doit être de 24-bit.
          </div>
          <ng-template #elseBlock4>
            <div *ngIf="!validImageDimensions(this.formInfo.modifiedImage.height,this.formInfo.modifiedImage.width)">
              Le dimensions de l'image doivent être de 640 x 480 pixels.
            </div>
          </ng-template>
        </ng-template>
      </div>
    </form>

    <div class="contentLeft">
      <button type="submit" class="btn btn-default" (click)="onSubmit()"
       [disabled]="!(this.validBMPExtension(this.formInfo.originalImage.fileName)
                     && this.validBMPExtension(this.formInfo.modifiedImage.fileName)
                     && this.validBitDepth(this.formInfo.originalImage.bitDepth)
                     && this.validBitDepth(this.formInfo.modifiedImage.bitDepth)
                     && this.validImageDimensions(this.formInfo.originalImage.height, this.formInfo.originalImage.width)
                     && this.validImageDimensions(this.formInfo.modifiedImage.height, this.formInfo.modifiedImage.width)
                     && this.validTitle()
                    )">
        Soumettre
      </button>
      <div [class.invisible] = "this.isFilesWith7Differences" class="alert alert-danger" style="width: 180px; font-size: 12px; padding-top: 5px; padding-bottom: 5px;">
        Les deux images sélectionnées doivent avoir exactement 7 différences
      </div>
  </div>

    <div class="contentLeft">
      <button class="btn btn-default" (click)="closeForm2D()">Annuler</button>
    </div>

  </div>
</div>
