<div id=formWindow2D>

  <div id="header">
      <h1 id="title">Créer un jeu point de vue simple</h1>
      <p id="format">Format d'image: bitmap 24-bit (640x480)</p>
  </div>

  <div id="content">
    <div class="contentLeft"> Nom du jeu </div> <div class="contentRight"> <input type="text" name="gameName" required [(ngModel)]="title">    
      <div [hidden]="validName" class="alert alert-danger" style="width: 180px; height: 28px;padding-top: 4px;">Nom requis!</div>
  </div>
    <div class="contentLeft"> Image originale</div> <div class="contentRight"> <input type="file" name="originalImg"> </div>
    <div class="contentLeft"> Image modifiée </div> <div class="contentRight"> <input type="file" name="modifiedImg"> </div>
    
    <!--<div class="contentLeft"> <button>Soumettre</button> </div>-->
    <div class="contentLeft">
      <button type="submit" class="btn btn-default" [disabled]="true">Soumettre</button>
  </div>
    <div class="contentLeft"> 
      <button class="btn btn-default" (click)="closeForm2D()">Annuler</button> 
    </div>
  </div>

</div>