<div *ngIf="isInAdminView; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div style="height: 120px;"></div>
</ng-template>
<div class="gameCardsWindowWrapper">
  <div class="gameCardsWindow">
    <div class="titleWrapper">
      <div class="title">Point de vue simple <i class="fas fa-draw-polygon"></i></div>
      <div class="title">Point de vue libre <i class="fas fa-cubes"></i></div>
    </div>
    <div class="gameCardsWrapper">
      <div class="gameCardsContainer" *ngFor="let string of listes; let i = index">
        <div *ngFor="let gameCard of listes[i]">
          <div class="gameCard">
            <div class="gameCardTitle"> {{gameCard.title}}</div>
            <div class="gameCardInfo">
              <div class="gameCardImage"><img src="{{gameCard.image}}" height="210px" width="280px"></div>
              <div class="gameCardMode">Solo <i class="fas fa-user"></i></div>
              <div class="gameCardMode">1VS1 <i class="fas fa-globe"></i></div>
              <div class="gameCardScore">
                <i class="fas fa-medal gold"></i>
                {{listOfGamesService.getBestTimeSolo(gameCard, 0)}}
              </div>
              <div class="gameCardScore">
                <i class="fas fa-medal gold"></i>
                {{listOfGamesService.getBestTime1v1(gameCard, 0)}}
              </div>
              <div class="gameCardScore">
                <i class="fas fa-medal silver"></i>
                {{listOfGamesService.getBestTimeSolo(gameCard, 1)}}
              </div>
              <div class="gameCardScore">
                <i class="fas fa-medal silver"></i>
                {{listOfGamesService.getBestTime1v1(gameCard, 1)}}
              </div>
              <div class="gameCardScore">
                <i class="fas fa-medal bronze"></i>
                {{listOfGamesService.getBestTimeSolo(gameCard, 2)}}
              </div>
              <div class="gameCardScore">
                <i class="fas fa-medal bronze"></i>
                {{listOfGamesService.getBestTime1v1(gameCard, 2)}}
              </div>
              <div *ngIf="isInAdminView; then thenBlock; else elseBlock"></div>
              <ng-template #thenBlock>
                <div>
                  <div (click)="delete(gameCard)" class="adminGameCardButton button">Supprimer <i class="fas fa-trash-alt"></i></div>
                </div>
                <div>
                  <div class="adminGameCardButton button">Réinitialiser <i class="fas fa-redo-alt"></i></div>
                </div>
              </ng-template>

              <ng-template #elseBlock>
                <div>
                  <div (click)="playSolo(gameCard)" routerLink="/game_view_2d" routerLinkActive="active" class="gameCardButton button"><i class="fas fa-user"></i> Jouer</div>
                </div>
                <div>
                  <div (click)="play1v1(gameCard)" routerLink="/game_view_2d" routerLinkActive="active" class="gameCardButton button"><i class="fas fa-globe"></i> Créer</div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
