<div class="gameCardsScreeningWrapper">
  <div class="gameCardsScreening">
    <div class="titleWrapper">
      <div class="title">Point de vue simple (2D)</div>
      <div class="title">Point de vue libre (3D)</div>
    </div>

    <div class="gameCardsWrapper">
      <div class="twoDimensionGameCards">
          <app-2d-game-card></app-2d-game-card>
      </div>
      
      <div class="threeDimensionGameCards">
        <app-3d-game-card></app-3d-game-card>
      </div>
    </div>
  </div>
</div>

