<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
<app-game-card-form-2d id="formWindow" style="display: none;"></app-game-card-form-2d>

<div class="adminMenu">
    <div class="createCardButton" (click)="openForm2D()">Créer une carte PDV simple (2D)</div>
    <div class="createCardButton">Créer une carte PDV libre (3D)</div>
</div>

<app-parts-list-view [isInAdminView]=true style="margin-top: 200px;"></app-parts-list-view>