.adminMenu{
    color: white;
    background-color: #13315C;
    font-family: 'Poppins';
    text-align: center;
    height: 95px;
    transform: translate(-8px,-15px);
    width: 101%;
    position: fixed;
    margin-bottom: 1050px;
    padding-top: 25px;
}

.createCardButton{
    max-width: 300px;
    height: 40px;
    padding-top: 9px;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}