<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
<app-game-card-form-2d id="formWindow2D" style="display: none;"></app-game-card-form-2d>
<app-game-card-form-3d id="formWindow3D" style="display: none;"></app-game-card-form-3d>

<div class="adminMenu">
    <div class="createCardButton button" (click)="openForm2D()">Créer une carte PDV simple (2D)</div>
    <div class="createCardButton button" (click)="openForm3D()">Créer une carte PDV libre (3D)</div>
</div>

<app-list-of-games-view [isInAdminView]=true style="margin-top: 200px;"></app-list-of-games-view>
