#game .game-panel{
  border: #13315c solid 5px;
  border-radius: 10px;
  width: 640px;
  height: 480px;
  margin-left: 50px;
  user-select: none;
  position: relative;
}

#game{
  display: grid;
  grid-template-columns: 50% 50%;

  text-align: center;
  vertical-align: middle;
}

.clickInterdiction {
  cursor: not-allowed;
  z-index: 1000;
  position: absolute;
  top:0;
  left: 0;
  height: 480px;
  width: 640px;
}


.textCanvas{
  z-index: 999;
  position: absolute;
  top:0;
  left: 0;
} 
