<div id=formWindow3D>
  <header>
    <h1 id="title">Créer un jeu point de vue libre</h1>
  </header>

  <form [formGroup]="form3DGroup" (ngSubmit)="submit()">
    <div class="formElementContainer">
      <label class="elementTitle">Nom du jeu</label>
      <input formControlName="cardName" type="text" class="textInput">
      <small class="alert alert-danger" [hidden]="form3DGroup.controls.cardName.valid || form3DGroup.controls.cardName.pristine">
        Nom requis et de 3 à 15 caractères.
      </small>
      <label class="elementTitle">Types d'objets</label>
      <select class="optionMenu" formControlName="optionMenu">
        <option value="" [disabled]="true"></option>
        <option *ngFor="let objectType of objectTypes">{{objectType}}</option>
      </select>
      <label class="elementTitle">Quantité d'objets</label>
      <input formControlName="numberOfObjects" type="number" class="numberInput">
      <small class="alert alert-danger" [hidden]="form3DGroup.controls.numberOfObjects.valid || form3DGroup.controls.numberOfObjects.pristine">
        Nombre min: 10 ; Nombre max: 200
      </small>
      <label class="elementTitle">Types de modifications</label>

      <div formGroupName="checkBoxGroup">
        <div class="checkBoxContainer">
          <input type="checkbox" formControlName="addCheckBox" value="Ajout">
          <div class="checkBoxText">Ajout</div>
        </div>
        <div class="checkBoxContainer">
          <input type="checkbox" formControlName="deleteCheckBox" value="Suppression">
          <div class="checkBoxText">Suppression</div>
        </div>
        <div class="lastCheckBoxContainer">
          <input type="checkbox" formControlName="modifyCheckBox" value="Changement de couleur">
          <div class="checkBoxText">Changement de couleur</div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="form3DGroup.invalid">Soumettre</button>
    <button type="button" class="btn btn-default" (click)="closeForm()">Annuler</button>
  </form>

  <div id="error" [class.visible]="error.length > 0"> {{error}} </div>

</div>
