<main id="game-container">

  <header>
    <img id="logo" src="../../assets/logo.png" />

    <div id="diff-counter">
      <div>
        <i class="fas fa-user-circle user-badge"></i>
        <div id="diff-count">{{diffFoundCount}}</div>
        <i *ngFor="let number of miscGetArrayDiffFoundCount()" class="fas fa-search" [class.blue]="number < diffFoundCount" [class.red]="number > maxDiffCount - opponentDiffFoundCount - 1"></i>
        <div class="diff-progress" [style.width]="miscGetDiffCounterWidth() + 'px'"></div>
        <div *ngIf="!isSolo" id="diff-count" class="opponent">{{opponentDiffFoundCount}}</div>
        <i *ngIf="!isSolo" class="fas fa-user-circle user-badge"></i>
      </div>
    </div>

    <div id="game-title"><i class="fas fa-camera"></i>{{this.originalImage.title}}<i class="fas fa-camera"></i></div>
    <div id="chrono-container">
      <span id="time">{{this.timerOutput}}</span>
      <circle-progress #timeProgressView id="timer" [outerStrokeLinecap]="'butt'" [renderOnClick]=false [space]="-1" [showTitle]=false [showSubtitle]=[false] [showImage]=[false] [showBackground]="true" [showUnits]="false" [radius]="35" [outerStrokeWidth]="16" [backgroundPadding]="0" [showInnerStroke]="false"></circle-progress>
      <img id="hourglass" src="../../assets/hourglass.png" />
    </div>
  </header>

  <div id="game">

    <!-- Le contenu ici sera remplacé éventuellement par un component soit 2D ou 3D qui gérera lui-même ses propres spécificités -->
    <!-- La classe css game-panel gère le style des bordures et de la taille, donc si on choisit de faire un seul composant global pour 2d et 3d il faudra les inclure comme tels-->
    <div class="game-panel"></div>
    <div class="game-panel"></div>

  </div>

  <footer [class.pinned]="consolePinned">
    <div id="console-header"><i class="far fa-envelope"></i> Messages <i [class.pinned]="consolePinned" (click)="consolePinned = !consolePinned;" class="fas fa-thumbtack"></i></div>
    <div id="console" #console>
    </div>
  </footer>

</main>
