@import url('https://fonts.googleapis.com/css?family=Poppins');

.cadrageFichesWrapper{
    text-align: center;
   
}
.cadrageFiches{
    height: 570px;
    width: 930px;
    display: inline-block;
    -moz-box-shadow: -2px 2px 20px #c0c0c0;
	-webkit-box-shadow: -2px 2px 20px #c0c0c0;
	box-shadow: -2px 2px 20px #c0c0c0;

}

.titreWrapper{
    display: flex;
}

.titrePDVSimple{
    font-family:'Poppins';
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 20px;
    height: 55px;
    font-size: 20px;
    width: 50%;
    color: white;
    background-color: #13315c;
}

.titrePDVLibre{
    font-family:'Poppins';
    text-align: center;
    padding-top: 20px;
    height: 55px;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid black;
    width: 50%;
    background-color: #13315c;
}
.fichesWrapper{
    display: flex;    
    height: 494px;

    /*Scroll bar ici*/
    overflow-y: auto;
    overflow-x: hidden;
}

.fichesPDVSimple{
    width: 50%;   
    height: auto;
}

.fichesPDVLibre{
    width: 50%;
    height: 100%;
}
