

<div class="cadrageFichesWrapper">
  <div class="cadrageFiches">
    <div class="titreWrapper">
      <div class="titrePDVSimple">Point de vue simple (2D)</div>
      <div class="titrePDVLibre">Point de vue libre (3D)</div>
    </div>

    <div class="fichesWrapper">
      <div class="fichesPDVSimple">
          <app-fiche-pdvsimple></app-fiche-pdvsimple>
      </div>
      
      <div class="fichesPDVLibre">
        <app-fiche-pdvlibre></app-fiche-pdvlibre>
      </div>
    </div>
    

  </div>
</div>

