<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

<div class="cadrageFichesWrapper">
  <div class="cadrageFiches">
    <div class="titreWrapper">
      <div class="titrePDVSimple">Point de vue simple (2D)</div>
      <div class="titrePDVLibre">Point de vue libre (3D)</div>
    </div>

    <div class="fichesWrapper">
      <div class="fichesPDVSimple">
          <app-fiche-pdvsimple></app-fiche-pdvsimple>
          <app-fiche-pdvsimple></app-fiche-pdvsimple>
          <app-fiche-pdvsimple></app-fiche-pdvsimple>
      </div>
      
      <div class="fichesPDVLibre">
        <div class="exempleDeFiche"></div>
      </div>
    </div>
    

  </div>
</div>

