<main id="login-container">
  <div id="logo"><img src="../../assets/logo.png" /> <span>PolyDiff</span></div>

  <div id="login-form">
    <h3>Se connecter <i class="fas fa-key"></i></h3>

    <div class="field" [class.unvalidated]="!isUsernameValid"><i class="fas fa-user"></i> <input [ngModel]="userLoginService.username" (input)="validateUsername($event.target.value)" placeholder="Nom d'utilisateur" [maxlength]="20" /></div>
    <div class="errorMessage" [class.unvalidated]="!isUsernameValid">{{this.errorMessage}}</div>
    <button (click)="connect()" [disabled]="!isUsernameValid">Jouer</button>

  </div>
</main>
